<footer>
    <div class="newsletter w-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 col-md-12">
                    <h3 class="text-white newsletter-text" >Subscribe for everyday job Newsletter.</h3>
                </div>
                <div class="col-lg-6 col-12 col-md-12 ">
                   <form action="" id="newsletter-form">
                        <div class="email-subscription">
                            <div class="input-wrapper">
                            <input type="email" placeholder="Enter your email address" />
                            <button type="submit">Subscribe Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12  footer-company-info">
                    <div class="footer-logo-container mb-0 mt-0 ">
                        <img src="/images/green logo.webp" id="footer-logo" alt="">
                    </div>
                    <p class="footer-text mt-4 w-75">That necessitat ecommerce platform that optimi your store popularised the release</p>
                    <div class="footer-social-icons my-5">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""> <i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""> <i class="fa-brands fa-instagram"></i></a>
                       
                    </div>
                </div>
                <div class="col-lg-2 col-md-3  ">
                    <h3 class="section-heading text-white  mb-5">
                        Company
                    </h3>
                    <ul class=" footer-list">
                       <li><a href="">About Us</a></li>
                       <li><a href="">Why Extobot</a></li>
                       <li><a href="./contact.html">Contact With Us</a></li>
                       <li><a href="">Our Partners</a></li>
                    </ul>
                </div>
                <!-- Resources -->
                <div class="col-lg-2 col-md-3 col-6 ">
                    <h3 class="section-heading text-white  mb-5">
                        Resources
                    </h3>
                    <ul class=" footer-list ">
                       <li><a href="">Quick Links</a></li>
                       <li><a href="">Job Packages</a></li>
                       <li><a href="">Post New Job</a></li>
                       <li><a href="">Job Listings</a></li>
                    </ul>
                </div>
                <!-- Legal -->
                <div class="col-lg-2 col-md-3 ">
                    <h3 class="section-heading text-white  mb-5">
                        Legal
                    </h3>
                    <ul class=" footer-list">
                       <li><a href="">Affiliate</a></li>
                       <li><a href="">Blog</a></li>
                       <li><a href="">Help & Support</a></li>
                       <li><a href="">Careers</a></li>
                    </ul>
                </div>
                <!-- Products -->
                <div class="col-lg-2 col-md-3 ">
                    <h3 class="section-heading text-white  mb-5">
                        Products
                    </h3>
                    <ul class="footer-list">
                       <li><a href="">Start a Trail</a></li>
                       <li><a href="">How It Works</a></li>
                       <li><a href="">Features</a></li>
                       <li><a href="">Price & Planning</a></li>
                    </ul>
                </div>
            </div>
            <hr class="text-white ">
            <p class="footer-text text-center mt-4">
                &copy; 2023 Finate. Made with <span style="color:var(--primary-color)"><b>&#x2764;</b></span> by <span style="color:var(--primary-color)"><b>Bipin Bhatt</b></span> 
            </p>
        </div>
        <!-- For MObile Dropdown -->
       
    </div>
</footer>