<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-3 my-auto">
                <div class="logo-container">
                    <img src="/images/logo.webp" alt="" id="website-logo">
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-1 my-auto">
    <!--==== Nav bar=======  -->
                <div class="nav-bar  ">
                    <div class="container  ">
                        <div class="row">
                            <div class="col-lg-12 " >
                                <ul id="nav-list" class="my-0" >
                                    <li class="nav-item "><a href="./index.html">Home</a></li>
                                    <li class="nav-item"><a href="./jobs.html" class="">Find Jobs</a>
                                    <ul class="nav-dropdown ">
                                        <li class="px-4"><a href="./jobs.html">Jobs</a></li>
                                        <hr >
                                        <li class="px-4"><a href="./job-detail.html"> Job Details</a></li>
                                    </ul>
                                    </li>
                                    <li class=" nav-item"><a href="#">Employers Details</a></li>
                                    <li class=" nav-item"><a href="./candidate.html">Candidates</a>
                                        <ul class="nav-dropdown ">
                                            <li class="px-4"><a href="./candidate.html">Candidate</a></li>
                                            <hr >
                                            <li class="px-4"><a href="./candidate-detail.html"> Candidate Details</a></li>
                                        </ul>
                                    </li>
                                    <li class=" nav-item"><a href="#">Blog</a></li>
                                    <li class=" nav-item"><a href="./error-page.html">Pages</a>
                                        <ul class="nav-dropdown ">
                                            <li class="px-4"><a href="./about-us.html">About us</a></li>
                                            <hr >
                                            <li class="px-4"><a href="#"> Login</a></li>
                                            <hr>
                                            <li class="px-4"><a href="./register.html">Registraion</a></li>
                                            <hr >
                                            <li class="px-4"><a href="./error-page.html">Page not Found</a></li>
                                        </ul>
                                    </li>
                                    <li class=" nav-item"><a href="./contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== Sid eNav bar=======  -->
            <div class="side-nav-bar">
                <div class="header-side-nav-bar ">
                  <div class="nav-logo-container my-auto">
                    <a href="./index.html"><img src="/images/green logo.webp" alt="" id="website-logo"></a>
                  </div>
                </div>
                <div class="side-menu mt-3">
                  <ul class="side-menu-list">
                    <li class="side-menu-list-item-first side-menu-list-item"> <a href="./index.html">Home</a></li>
                    <li class="side-nav-bar-parent">Find Jobs
                      <span class="dropdown-icon" style="float:right; margin-right: 5px;"><i class="fa-sharp fa-solid fa-plus"></i></span>
                      <ul class="side-nav-bar-dropdown mt-3">
                        <li class="inner-side-menu-list-item"><a href="./jobs.html">Jobs</a></li>
                        <li class="inner-side-menu-list-item last"><a href="./job-detail.html"> Job Details</a></li>
                      </ul>
                    </li>
                    <li class="side-menu-list-item"> <a href="#">Employers Details</a></li>
                    <li class="side-nav-bar-parent"> Candidates
                      <span class="dropdown-icon" style="float:right; margin-right: 5px;"><i class="fa-sharp fa-solid fa-plus"></i></span>
                      <ul class="side-nav-bar-dropdown mt-3">
                        <li class="inner-side-menu-list-item"><a href="./candidate.html">Candidates</a></li>
                        <li class="inner-side-menu-list-item last"><a href="./candidate-detail.html"> Candidate Details</a></li>
                      </ul>
                    </li>
                    <li class="side-menu-list-item"> <a href="#"> Blog <span class="dropdown-icon" style="float:right; margin-right: 5px;"><i class="fa-sharp fa-solid fa-plus"></i></span></a></li>
                    <li class="side-nav-bar-parent"> Pages
                      <span class="dropdown-icon" style="float:right; margin-right: 5px;"><i class="fa-sharp fa-solid fa-plus"></i></span>
                      <ul class="side-nav-bar-dropdown mt-3">
                        <li class="inner-side-menu-list-item"><a href="./jobs.html">About Us</a></li>
                        <li class="inner-side-menu-list-item"><a href="./jobs.html">Login</a></li>
                        <li class="inner-side-menu-list-item"><a href="./register.html">Register</a></li>
                        <li class="inner-side-menu-list-item last"><a href="./error-page.html"> Page Not Found </a></li>
                      </ul>
                    </li>
                    <li class="side-menu-list-item"> <a href="./contact.html"> Contact</a></li>
                  </ul>
                </div>
              </div>
            <div class="col-lg-2 col-md-4 col-8 my-auto" >
                <div class="button-container my-auto">
                    <a href="./register.html" id="registraion-btn" class="my-auto">+ Registraion</a>
                    <a href="#" id="menu-btn" class="hidden mt-0 mb-0" onclick="openNav()"><i class="fa-sharp fa-solid fa-bars"></i></a>
                </div>
                </div> 
            </div>
        </div>
    </div>