<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finate | Job Portal - Reset Password</title>
    <!-- Bootstrap JS -->

    <!-- custom css included -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <!-- bootstrap css included -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
     <!-- fontAwesome inclued -->
     <script src="https://kit.fontawesome.com/9cebbb4b18.js" crossorigin="anonymous"></script>
     
</head>
<body>
    <section class="hero-section ">
        <!--======== HeaderStart ======-->
        <%- include('./components/header.ejs') %>


        <!--====== Header END =====-->
        <hr class="mt-0 text-white " >
        <!-- =====BreadCrumb   start=====-->
        <div class="container breadcrumbs-container my5">
                <div class="breadcrumb my-auto">
                    <h1 class=" hero-heading  ">Forgot Password</h1>   
                    <p class="paragraph-text nav-item"><a href="/" class="">Home </a> <span class="active-page"> &nbsp;// Forgot Password</span></p>
                </div>          
        </div>
    </section>
    <section class="section">
        <div class="container">
           <div class="row">
            <div class="col-lg-2 col-md-2 col-2"></div>
            <div class="col-lg-8 col-12">
                <div class="register-form-container ">
                    <h1 class="register-now text-center py-2">Reset Password</h1>
                    <div class="line w-100 mb-4">
                        <div class="mid-line">
                            
                        </div>
                    </div>
                    
                    <form action="/forgotPassword" method="post" class="register-form " id="candidate-registration">
                    
                        <input type="email" name="email" id="" class="mb-3 w-100" placeholder="Email">
                        <br>
                       <!-- <div  class="my-3"> 
                        <input type="checkbox" name="" id="" id="terms-checkbox">
                        <a href="" id="terms-and-condition">Remember me</a>
                        <a class="  " href="/forgotPassword" style="text-align: left; color:var(--primary-color);float: right;text-decoration: none;cursor: pointer; " id="terms">Forgot password?</a>

                    </div> -->
                        <button type="submit" id="register-submit-btn" class="w-100  register-page-btn " > Get Otp</button>
                    </form>
                     
                    <!-- <p class="mt-4" style="color:var(--secondary-color)">Don't have account? <a href="/register" class="active-page" style="text-decoration: none;">Sign Up</a></p> -->
                </div>
            </div>
           </div>
        </div>
    </section>
    <%- include("./components/footer.ejs") %>
</body>
<script src="./index.js"></script>

</html>